@import "vars"


@media only screen and (min-width : 1600px)
	.slider-wrap
		margin: 0 -7px
	.slider
		.slick-slide
			padding: 0 7px
	.brand
		margin-bottom: 14px

@media only screen and (min-width : 1366px)
	.filter-item
		width: 20%
	.filter-char-item
		width: 25%

	.product-slide
		height: 442px
		&:before
			padding-top: 0

	.catalog-grid-2 
		.prod-img
			height: 208px
			&:before
				padding-top: 0

@media only screen and (max-width : 1599px)
	.header-contact
		margin: 7px 0
	.header-phone
		margin-right: 19px

@media only screen and (max-width : 1365px)
	.header-search
		max-width: none
		margin: 2px 25px 0 auto

@media only screen and (max-width : 1199px)
	.nav-item
		margin-right: 20px
	.header-action
		margin-right: 0
	.header-basket 
		margin: 5px 0 5px 44px

	/*catalog*/
	.catalog-toolbar
		align-items: flex-end
		.select-wrap
			flex-wrap: wrap
		.select-label, .selectric-wrapper
			width: 100%

@media only screen and (max-width : 1024px)
	.sticky
		display: none
	.container_sm 
		padding: 0 20px
	.section
		margin-bottom: 10px
	/*header*/
	.dropdown 
		right: auto
		left: calc(100% - 42px)
		border-radius: 0 3px 3px 3px

	.header-bottom 
		background: url(../img/blue-bg-mobile.png) repeat left top
		background-size: cover
	.header-bottom-inner
		flex-wrap: wrap
		min-height: inherit
	.header-logo
		font-size: 16px
	.header-search 
		flex: 1 0 100%
		margin: 5px 0 8px
		order: 1
	.search-form
		display: flex
		align-items: center
		.form-group 
			flex: 0 1 100%
			margin: 0
		a
			margin: 0 15px 0 10px
			white-space: nowrap
	.header-contact
		margin-left: auto

	.content-wrapper
		padding: 11px 0
	.content-inner
		flex-wrap: wrap
	.aside 
		width: 100%
		margin-right: 0
		margin-left: 0
	.aside-catalog-wrap
		background: url(../img/catalog-bg-new.png) no-repeat repeat top center;
		background-size: cover
		border-radius: 3px
	.aside-catalog
		display: none
	.aside-widget, .aside-block-filter
		display: none
	.aside-catalog-wrap
		margin-bottom: 10px
	.aside-catalog-btn
		text-align: center
		border-radius: 3px
	.catalog-item
		flex-wrap: wrap
		padding: 5px 20px
		&:hover
			background-color: transparent
	.catalog-dropdown
		position: static
		left: 0
		width: 100%
		min-height: inherit
		margin: 10px 0
		padding: 0
		background-color: transparent
		border-radius: 3px
	.catalog-dropdown-inner
		padding: 10px 0
		border-radius: 3px
	.catalog-dropdown-col
		width: 50%
		padding: 0 20px
	.aside-block
		border-radius: 3px

	.main
		width: 100%

	/*main slider*/
	.main-slider-wrap
		margin-bottom: 10px
	.main-slider 
		width: 65.788%
	.main-slide-text 
		padding: 11px 10px 12px 19px
		font-size: 16px

	.main-slider-nav 
		width: calc(34.212% + 8px)

	/*advantages*/
	.advantages
		margin-bottom: 10px
	.slick-prev
		left: -38px
	.slick-next
		right: -38px

	/*brand*/
	.brand-text 
		padding: 8px 10px 10px 12px
		text-align: center

	/*review*/
	.single-slider-wrap
		margin: 0
	.review 
		padding: 10px 20px
	.review-header 
		padding: 10px 0 18px 0
	.review-shop-logo
		margin-right: 21px


	.review-item
		display: none
		width: 50%
		&:first-child, &:nth-child(2)
			display: block
		&:nth-child(2):after
			display: none
	.review-text 
		margin-bottom: 0
		padding: 15px 0 5px


	/*about*/
	.about
		display: none

	/*footer*/
	.footer-top
		padding: 0
		&:after
			display: none
	.footer-top-inner
		padding: 0
	.footer-top-left
		align-items: center
		justify-content: center
		width: 300px
	.footer-logo 
		margin-right: 20px
		margin-top: 53px
		font-size: 16px
	
	.footer-nav-block
		display: none
	.footer-top-right
		width: calc(100% - 300px)
		padding: 26px 73px 21px
		background: rgba(0,0,0,.18)
	.footer-bottom
		padding: 9px 0
	.footer-bottom-inner 
		padding: 0 40px
		.copy
			display: none

	/*.breadcrumb*/
	.breadcrumb-link
		height: 45px
	.breadcrumb-link:after, 
	.breadcrumb-link:before 
		top: -1px
		right: 0
		border-top: 25px solid transparent
		border-bottom: 25px solid transparent

	/*basket*/
	.custom 
		.custom-item
			&:before
				min-width: 19px
	.basket-header 
		padding: 14px 10px 14px 28px
	.basket-body 
		padding: 0 29px 20px 29px
	.basket-prod
		margin: 5px 0
	.basket-prod-left
		width: calc(100% - 260px)
		padding: 12px 20px 7px 33px
		.prod-img 
			width: 98px
			margin: 5px 0
			&:before 
				padding-top: 156.13%
		.prod-info 
			width: calc(100% - 98px)
			padding: 0px 0 0 25px
		.prod-info-char 
			margin: 7px -3px 2px
	.basket-prod-right 
		width: 260px
		padding: 19px 31px 23px 26px
	.basket-prod-total 
		padding: 10px 35px 10px 20px
	.basket-body .info
		margin-top: -12px

	.user-info 
		max-width: 533px
	.user-info-item 
		.label 
			width: 156px
		.form-group 
			width: calc(100% - 156px)
		.checkbox 
			margin: 8px 0 10px 0

	.delivery-loc
		max-width: 533px
		.delivery-item 
			.delivery-item-label
				width: 156px
			.form-group 
				width: calc(100% - 156px)
		p
			margin: 6px 0

	.delivery-table 
		padding-bottom: 24px
		.tr-head 
			margin-bottom: 10px !important
			.td 
				padding: 4px 12px 6px
		.td 
			padding: 0 12px
		.td:first-child 
			width: 42%
		.td:nth-child(2) 
			width: 14%
		.td:nth-child(3) 
			width: 18%
		.td:last-child 
			width: 26%
	.delivery-footer p 
		margin: 14px 0 1px
	
	.address-item 
		.address-label
			width: 106px
		.form-group 
			width: calc(100% - 106px)

	/*shops*/
	.number-section 
		h2 
			padding-left: 26px
		.number
			width: 19px
		.btn
			padding: 4px 27px 4px 26px
	.shop-contact 
		width: 48.5%
		padding: 0 10px
	.shop-images
		width: 51.5%
	.shop-descr
		padding: 0
		p
			margin: 5px 0 10px

	/*sale*/
	.sale-list
		margin: 0 -7px
	.sale-col
		padding: 0 7px 14px 7px
	.sale
		margin-bottom: 14px
	.sale-body
		padding: 10px

	/*.payment*/
	.payment
		margin-bottom: 4px

	/*delivery*/
	.calc-header
		margin-bottom: 2px
	.price-add 
		max-width: 237px
		padding: 6px 0 14px
		.currency
			padding: 0 5px
	.method-item 
		padding: 12px 0 15px
	.method-table
		margin-bottom: 10px 
		.td:first-child 
			width: 40%
		.td:nth-child(2) 
			width: 18%
		.td:nth-child(3) 
			width: 20%
		.td:last-child 
			width: 22%
	.method-descr p
		margin: 0 0 16px 0

	/*filter*/
	.filter-section 
		.filter 
			padding: 6px 20px 17px 20px
	.filter-list
		max-width: 600px
	.filter-item
		width: 33.33%
	.filter-char 
		padding: 0 9px 0 25px

	/*product*/
	h1
		margin: 15px 0 4px
	.product-wrapper
		padding: 20px 0 12px
	.product-left 
		width: 48.19%
	.product-slider 
		margin-top: 4px
		margin-bottom: 74px
	.block-descr_nav
		width: 58%
	.block-descr_video
		width: 39%
	.product-slider-nav 
		.card-img:before
			padding-top: 91%
	.tumb-wrap .block-descr-body 
		padding: 12px 9px 12px

	.product-right 
		width: 51.81%
	.product-info-left
		width: 100%
		margin-top: 0
	.product-info-right
		display: none
	.online 
		margin-bottom: 18px
		.block-descr-body 
			padding: 10px 20px 10px 19px
		.online-price
			flex-wrap: wrap
			padding-bottom: 15px
		.prod-price
			align-items: flex-start
			width: auto
			margin-bottom: 18px
			padding: 0
			text-align: right
			.new-price
				letter-spacing: 1px
		.prod-action
			width: 100%
			.prod-action-inner
				max-width: 225px
			.prod-compare, .prod-fav
				flex: 0 0 50px
	.online-price-bottom
		flex-wrap: wrap
		margin-bottom: 0
	.online-price-bottom-left
		width: 100%
	.online-price-bottom-right
		width: 100%
		padding-top: 6px
		a
			line-height: 24px
	
	.offline 
		margin-bottom: 0
		.block-descr-body 
			padding: 10px 19px 5px 19px
	.offline-shops
		margin-top: 0
		margin-bottom: 5px
		padding-bottom: 11px 
	.offline-shop
		margin: 3px 5px 3px 0
	.offline-shops-action
		flex-wrap: wrap
	.offline-shops-action-item 
		width: 100%
		margin-bottom: 9px
		text-align: left
		font: 700 15px/24px "PT Sans Narrow",sans-serif
		.btn
			max-width: 225px
			text-align: center
			font-size: 16px
	.cert-wrap
		display: none

	.product-information 
		.tab-toggle
			padding: 10px 15px 7px 14px
	.product-description-char 
		width: 48.3%
	.product-description-descr
		width: 51.7%
	.block-descr-body
		padding: 7px 17px 12px 17px

	/*catalog*/
	.aside-filter-block .filter-body
		display: none
	.catalog-preview 
		display: none
	.catalog-toolbar  .select-showing
		display: none
	.aside-filter-block
		margin-bottom: 0
		.filter-header
			padding: 17px 20px 14px
			text-align: center
	.catalog-toolbar
		align-items: center
		.select-wrap
			flex-wrap: nowrap
			margin: 0 35px 0 auto
		.select-label, .selectric-wrapper
			width: auto
	.catalog-toolbar_footer
		justify-content: space-between

	.catalog-grid-1 
		.catalog-col
			padding-bottom: 5px
		.prod
			align-items: flex-start
			&:after
				left: 51.9%
		.prod-left
			align-items: flex-start
			width: 51.9%
			padding: 0 16px
		.prod-img
			margin-top: 8px
		.prod-info
			margin-top: -3px
			padding-left: 22px
		.prod-info-item
			margin-bottom: 0
		.prod-info-char
			margin: 11px 0 8px
		.prod-right
			align-self: flex-start
			width: 48.1%
			padding: 14px 20px 19px 20px
		.prod-price
			width: 100%
			margin-bottom: 13px
			padding: 0 16px
		.prod-action
			width: 100%
			max-width: 252px
			padding: 0 16px
		.prod-meta 
			margin-top: 30px
			padding: 13px 24px 2px
	
	.catalog-grid-2
		margin: 0 -10px
		.catalog-col
			padding: 0 10px 20px 10px
		.prod-action 
			.prod-fav, .prod-compare
				flex: 0 0 44px
		.prod-meta
			flex-wrap: wrap
			padding: 11px 13px

	.catalog-grid-4 
		.catalog-col
			width: 33.33%
			
@media only screen and (max-width : 767px)
	h2
		font-size: 18px
		&.bordered
			padding-left: 10px
	
	.section
		margin-bottom: 10px
	.section-header-link
		font-size: 14px
	.section-body
		padding: 0 10px 10px 10px

	/*header*/
	.header-top-inner
		height: 41px
	.header-working-hour
		display: none
	.header-bottom-inner
		padding: 15px 20px 10px 12px
	.header-logo
		flex: 0 0 146px
		font-size: 12px
		span
			padding: 0
	.header-shops
		margin-left: auto
	.header-contact
		margin: 4px 0 4px auto
	.header-search
		margin: 2px 0 1px
	.search-form 
		.form-text
			height: 34px
		a 
			margin: 0 10px 0 10px
			font-size: 14px

	.header-action
		margin-left: 40px
	.header-phone 
		margin-right: 15px
		font: 12px/17px "PT Sans Narrow",sans-serif
	.header-phone .phone 
		font: 700 16px/16px "PT Sans Narrow",sans-serif
	.header-basket 
		margin: 5px 0 5px 15px
	.basket 
		width: 30px
		height: 31px
		background-size: cover
	.basket-number 
		top: -3px
		width: 13px
		height: 13px
		font: 8px/13px "PT Sans Narrow",sans-serif
	
	/*aside*/
	.aside-catalog-btn 
		padding: 10px 26px 8px 26px

	/*main*/
	.advantages,
	.main-slider-wrap
		display: none
	
	/*review*/
	.reviews
		.slick-dots
			margin-left: 45px
	.slider-acc
		.slick-dots
			left: 100%
			transform: translate(-100%,-32px)
	.slider-int
		.slick-dots
			left: 100%
			transform: translate(-100%,-32px)
	.review 
		padding: 10px 16px


	.review-header
		flex-wrap: wrap
		justify-content: center
		padding: 6px 0 14px 0
	.review-shop-logo
		flex: 0 0 100%	
		margin: 0 0 9px 0
		img
			max-width: 120px
			margin: auto
	.review-shop-info
		width: calc(100% - 130px)
		margin: 0
	.review-action
		width: 130px
	.review-shop-label 
		margin-right: 5px
		font: 700 16px/24px "PT Sans Narrow",sans-serif
	.review-shop-descr
		font-size: 12px
		line-height: 12px
	.review-item
		width: 100%
		padding: 0 10px
		&:first-child
			display: block
		&:nth-child(2)
			display: none
		&:after
			display: none
	.review-body
		padding: 14px 0 0


	/*footer*/
	.footer-top-left
		width: 188px
		padding: 0 10px
	.footer-logo 
		margin: 0
		font-size: 12px
		span
			padding: 0
	.footer-top-right
		width: calc(100% - 188px)
		padding: 20px 20px 12px 20px
	.footer-top-label
		font-size: 16px
	.footer-contact
		margin: 0 0 10px 
	.footer-phone
		margin-right: 10px
		font-size: 12px
		line-height: 12px
		.phone
			font-size: 18px
			letter-spacing: 0
	.footer-bottom-inner
		padding: 0 27px

	/*basket*/
	.basket-prod
		flex-wrap: wrap
		margin: 10px 0
	.basket-prod-left
		width: 100%
		padding: 19px 21px 5px 21px
		border-right: none
		.prod-img
			margin: 0
		.prod-info
			padding: 0 0 0 16px
		.prod-info-char 
			margin: 16px -3px 0
		.prod-info-link
			display: none


	.basket-prod-right
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
		padding: 19px 21px 5px 20px
		.basket-price
			flex: 1 1 auto
		.prod-info-link
			margin-bottom: 22px
			margin-left: 26px
			font-size: 16px

	.user-info
		max-width: none
	.user-info-item
		flex-wrap: wrap
		margin-bottom: 7px
		.label
			width: 100%
			padding: 0
			text-align: center
			line-height: 23px
		.form-group
			width: 100%
		.checkbox 
			margin: 4px 0 3px 0

	.delivery-loc
		max-width: none
		.delivery-item 
			.delivery-item-label 
				width: 171px
			.form-group 
				width: calc(100% - 171px)
		p 
			margin: 9px 0 19px




	.delivery-table 
		.td:first-child 
			width: 50%
		.td:nth-child(2) 
			width: 20%
		.td:nth-child(3) 
			width: 30%
		.td:last-child
			display: none

	.address-item
		flex-wrap: wrap
		margin-bottom: 2px
		.address-label
			width: 100%
			padding: 5px 0
			text-align: center
		.form-group
			width: 100%
	.address-item textarea
		height: 62px!important

	.basket-cost 
		.basket-action
			flex-wrap: wrap
			justify-content: flex-start
			margin-bottom: -3px
			p
				width: 100%
				margin: 4px 0  7px 0
				font-size: 12px
				line-height: 14px
			.btn
				padding: 10px 32px 10px 34px

	/*shops*/
	.shop-about, .shop-map, .shop-section
		h2
			font-size: 24px
			line-height: 26px
	.shop-info
		flex-wrap: wrap
	.shop-contact
		width: 100%
		margin-bottom: 19px
		padding: 0 15px
	.shop-images
		width: 100%
		padding: 0 20px
	.shop-descr
		padding: 5px 20px
	
	/*sale*/
	.section-sale
		h2
			font-size: 24px
	.sale-list
		margin: 0 -3px
	.sale-col
		width: 50%
		padding: 0 3px 6px 3px
	.sale
		margin-bottom: 6px

	/*.payment*/
	.payment-text
		flex-wrap: wrap
		justify-content: flex-start
	.payment-descr
		width: 100%
	.payment-action
		flex: 1 1 auto
		margin-left: 0
		margin-top: 6px

	/*delivery*/
	.section-delivery h2 
		font-size: 24px
	.method-table
		.td
			padding: 0 10px
			white-space: nowrap 
		.td:first-child 
			width: 33%
		.td:nth-child(2) 
			width: 17%
		.td:nth-child(3) 
			width: 24%
		.td:last-child 
			width: 26%
	.method-descr
		padding: 0 10px

	/*filter*/
	.filter-section 
		h2
			font-size: 24px
		.filter 
			padding: 6px 20px 21px 20px
	.filter-item
		width: 50%
	.filter-char
		margin-bottom: 20px
	.filter-char-item
		width: 50%


	/*product*/
	h1
		font-size: 24px
		&.bordered
			padding-left: 10px
	h4 
		margin: 12px 0 7px
		font: 700 18px/21px "PT Sans Narrow",sans-serif

	.product-wrapper
		flex-wrap: wrap
		padding: 8px 0 12px
	.product-left
		width: 100%
		max-width: 311px
		margin: 0 auto 16px
		padding: 0
	.product-slider
		margin-bottom: 11px
	.product-slide:before
		padding-top: 142%
	.block-descr_nav 
		width: 55.31%
	.block-descr_video 
		width: 40.195%


	.product-right
		width: 100%
	.product-info
		margin-bottom: 19px
	.online 
		margin-bottom: 31px
		.block-descr-header
			text-align: center
		.online-price
			justify-content: center
		.prod-action 
			text-align: center
			.prod-action-inner 
				margin: 0 auto 7px

	.online-price-bottom-right
		display: none
	.online-price-bottom
		margin-bottom: 7px
		text-align: center
	.instock 
		justify-content: center
		margin: 10px 0 7px!important
	.offline
		.block-descr-header
			text-align: center
	.offline-shop
		width: 100%
		justify-content: center
	.offline-shops-action-item
		text-align: center
		.btn
			max-width: 310px

	.product-information
		border: none 
		.tabs-wrapper
			padding: 0
			background: transparent
		.tab-toggle 
			margin-top: 2px
			padding: 13px 15px 13px 14px
			width: 100%
			text-align: center
			border-radius: 3px
			background: url(../img/aside-header.png) repeat left top
			color: #ffffff
			&_active
				border-radius: 3px 3px 0 0
		.tab-content
			order: 1
			width: 100%
			margin: 0
			padding: 19px 53px 10px 38px
			border: 1px solid map-get($colors, grey)
			border-top: none
			border-radius: 0 0 3px 3px
	.product-description
		flex-wrap: wrap
	.product-description-char
		width: 100% 
		margin-bottom: 13px
	.product-description-descr
		width: 100%

	.twin
		padding: 0 15px 0 25px
	.twin-text 
		padding: 0 0 21px 29px
	
	/*product*/
	.aside-filter-block .filter-header
		padding: 10px 26px 8px 26px
	.catalog-view-toggle
		display: none
	.catalog-toolbar
		justify-content: space-between
		flex-wrap: wrap
		.select-wrap
			margin: 5px 35px 5px 0
			.select-label
				display: none
		.catalog-info
			margin: 0 30px 0 0
	.catalog-grid-4 
		.catalog-col
			width: 50%
	.catalog-toolbar_footer 
		flex-wrap: wrap
		justify-content: flex-end
		.catalog-info 
			width: 100%
			text-align: right
			margin: 10px 10px
			order: 2


@media only screen and (max-width : 479px)
	.container
		padding: 0 10px
	.section-header-link
		display: none

	.single-slider .slick-dots, 
	.slider .slick-dots
		left: 100%
		transform: translate(-100%,-32px)

	.reviews
		.slick-dots
			margin-left: 0


	/*header*/
	.header-bottom
		padding: 9px 0
	.header-shops
		display: none
	.header-basket
		display: none
	.header-logo 
		flex: 0 0 112px
		font-size: 10px
	.header-contact
		margin: 0 0 0 auto
	.header-phone
		margin-right: 12px
		.phone 
			font: 700 14px/18px "PT Sans Narrow",sans-serif
	.header-search 
		margin: 5px 0 4px

	.search-form a
		display: none
	.catalog-dropdown-row
		flex-wrap: wrap
	.catalog-dropdown-col
		width: 100%
		border-right: none

	/*review*/
	.review
		padding: 10px
	.review-header
		justify-content: flex-start
	.review-shop-logo 
		flex: 0 1 auto
		margin: 0
	.review-shop-info
		width: 100%
		margin-top: 7px
		order: 2

	/*footer*/
	.footer-top-inner
		padding: 0
	.footer-top-left
		width: 149px
	.footer-top-right 
		width: calc(100% - 149px)
		font-size: 12px
	.footer-contact
		flex-wrap: wrap
	.footer-phone
		align-items: flex-start
		width: 100%
		margin: 0
		.phone
			font-size: 14px
	.footer-bottom-inner 
		font-size: 12px

	/*basket*/
	.basket-body
		padding: 0 29px 14px 29px
	.basket-prod
		margin: 10px -15px
	.basket-prod-left
		padding: 19px 7px 5px 9px
		.prod-info 
			padding: 0 0 0 8px
	.basket-prod-right
		flex-wrap: wrap
		justify-content: flex-start
		padding: 19px 21px 18px 20px
		.basket-price 
			flex: 0 0 100%
			max-width: 182px
		.prod-info-link 
			margin: 3px 0
	.basket-prod-total
		margin: 0 -15px
		padding: 10px 20px
		justify-content: center

	.user-info-item 
		.checkboxmark
			font-size: 12px

	.delivery-loc
		margin-bottom: 21px
		margin-top: -6px
		.delivery-item
			flex-wrap: wrap
			margin-bottom: 4px
			.delivery-item-label
				justify-content: flex-start
				width: 100%
				padding: 3px 0
				.radio
					margin-left: 10px
			.form-group
				width: 100%
		p
			margin: 4px 0 5px
			font-size: 12px

	.delivery-table
		width: auto
		margin: 0 -10px
		.tr-head 
			.td 
				padding: 4px 10px 6px
				white-space: nowrap	
				font-size: 14px	
				font-weight: 400	
		.td
			padding: 4px 10px 6px
		.td:first-child 
			width: 50%
		.td:nth-child(2) 
			width: 25%
			white-space: nowrap	
		.td:nth-child(3) 
			width: 25%
			white-space: nowrap	
	.delivery-footer
		margin: 0 -10px -8px
		font-size: 14px
		p 
			margin: 9px 0 8px
			line-height: 18px
		a
			display: inline-block
			font-size: 14px
			line-height: 15px


	/*shops*/
	.number-section
		.section-header
			flex-wrap: wrap
			position: static
			h2
				width: 100%
				font-size: 24px
			.btn
				margin: -10px 0 8px 29px
	.shop-contact 
		margin-bottom: 15px
		padding: 0 10px 0 15px
	.shop-images
		flex-wrap: wrap
	.shop-images-col_sm
		display: flex
		justify-content: space-between
		width: 100%
		padding: 0
		.shop-img
			width: calc(50% - 2.5px)
			margin-bottom: 5px !important
			&:before
				padding-top: 63.85%
	.shop-images-col_lg
		width: 100%
		.shop-img:before
			padding-top: 63.335%
	.shop-descr
		padding: 10px 20px
	.shop-section .section-header h2 
		margin: 15px 0 25px


	/*sale*/
	.sale-col
		width: 100%

	/*.payment*/
	.payment
		margin-bottom: 10px
		padding: 10px 8px
	.payment-img
		margin-right: 7px

	/*delivery*/
	.section-delivery h2 
		font-size: 24px
	.method-table
		.td
			font-size: 14px
		.td:first-child 
			width: 47%
		.td:nth-child(2) 
			width: 22%
		.td:nth-child(3) 
			width: 31%
		.td:last-child 
			display: none

	/*filter*/
	.filter-section
		.filter-letter, .filter
			padding: 8px 9px 14px 9px
			.filter-header
				flex-wrap: wrap
				justify-content: flex-start
				.filter-search
					flex: 0 0 100%
	.filter-section 
		h2
			font-size: 21px
			line-height: 22px
	.filter-item
		width: 100%
	.filter-char-item
		width: 100%
	.filter-char
		margin-top: -30px
		padding: 10px
		.btn
			width: 100%
			padding: 10px
			text-align: center
			font-size: 14px
		.filter-price 
			max-width: 159px


	/*product*/
	.section-header
		padding: 0
	h1
		font-size: 18px
		line-height: 33px
	h4
		margin: 7px 0 8px
	.product-slide:before
		padding-top: 148%
	.block-descr_nav 
		width: 57.72%
	.block-descr_video 
		width: 41.195%
	.block-descr-body 
		padding: 7px 8px 12px 8px
	.block-descr_lg .block-descr-title
		font-size: 18px
	.online .block-descr-body 
		padding: 12px 8px 10px 8px
	.product-information .tab-content
		padding: 16px 10px 10px 10px
		font-size: 14px
		line-height: 17px
	.twin
		padding: 0 0 0 8px
	.twin-text 
		padding: 0 0 10px 12px
		font-size: 14px
		line-height: 21px
	/*product*/
	.catalog-grid-4 
		.catalog-col
			width: 100%
	
@media only screen and (max-width : 339px)
	.header-logo
		flex: 0 0 95px


